.flexbox-container {
    margin-top: 120px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
  }
  
  list-card{
    width: 90%;
    margin-top: 120px;
  }